<% layout("/layouts/boilerplate")%>

<script>
    function initMap() {
      const location = {
        lat: <%= location.lat %>,
        lng: <%= location.lng %>,
      };
      
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 12,
        center: location,
      });
      
      var marker = new google.maps.Marker({
        position: location,
        map: map,
      });
    }
  </script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%=process.env.MAP_API_KEY%>&callback=initMap&libraries=places"></script>
<div class="row">
    <div class="col-10 offset-1 mt-1">
        <h3><%=listing.title%></h3>
    </div>
    <div class="card col-10 offset-1 show-card listing-card">
        <img src="<%=listing.image.url %>" class="card-img-top mb-2 show-img" alt="listing_image">
        <div class="card-body">
            <p class="card-text">&#8377; <%=listing.price.toLocaleString("en-IN") %>/ night</p>
            <p class="card-text"><b>Owned By : <i><%=listing.owner.username %></i></b></p>
            <p class="card-text"><%=listing.description %></p>
            <p class="card-text"><%=listing.location.city%>, <%=listing.location.state%>, <%=listing.location.country%>,
                <%=listing.location.postalCode%></p>
            <p class="card-text"><%=listing.country%></p>
        </div>
    </div>
    <%if(currUser && currUser._id.equals(listing.owner._id)){%>
    <div class="col-10 offset-1 mt-1 mb-2">
        <div class="btns">
            <a href="/listings/<%= listing.id %>/edit">
                <button class="btn btn-dark ml-2">Edit&nbsp;&nbsp;<i class="fas fa-edit"></i></button>
            </a>&nbsp;&nbsp;&nbsp;&nbsp;
            <form method="post" action="/listings/<%= listing.id %>?_method=delete">
                <button class="btn btn-dark edit-btn">Delete&nbsp;&nbsp;<i class="fa-solid fa-trash"></i></button>
            </form>
        </div>
    </div>
    <% } %>
    <hr>
    <div class=" col-10 offset-1 mb-2">
        <%if(currUser){%>
        <h4>Leave a Review</h4>
        <form action="/listings/<%=listing.id%>/reviews" method="POST" novalidate class="needs-validation">
            <div class="mb-3 mt-3">
                <label for="rating" class="form-label">Rating</label>
                <fieldset class="starability-slot">
                    <input type="radio" id="no-rate first-rate1" class="input-no-rate" name="review[rating]" value="1"
                        checked aria-label="No rating." />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                    <label for="first-rate5" title="Amazing">5 stars</label>
                </fieldset>
            </div>
            <div class="mb-2 mt-2">
                <label class="form-label" for="comment">Comments...<i class="fa-solid fa-comment"></i></label>
                <textarea placeholder="Write Your Review ..." class="form-control" name="review[comment]" id="comment"
                    cols="50" rows="2"></textarea>
                <div class="invalid-feedback">Please Submit Some Comment And Review ...</div>
            </div>
            <button class="mt-3 btn btn-outline-success ">Submit&nbsp;<i class="fa fa-paper-plane"></i></button>
        </form>
        <hr>
        <% } %>
        <% if(listing.reviews.length > 0) {%>

        <div class="row">
            <b>
                <p>All Reviews</p>
            </b>
            <% for(review of listing.reviews){ %>
            <div class="card col-5  mb-3">
                <div class="card-body">
                    <h5 class="card-title">@<%= review.author.username%></h5>
                    <p class="card-text">
                        <%=review.comment%>
                    </p>
                    <p class="starability-result card-text mb-3" data-rating="<%=review.rating%>"></p>
                </div>
                <form action="/listings/<%=listing._id%>/reviews/<%=review._id%>?_method=DELETE" class="mb-3"
                    method="POST">
                    <button class="btn btn-sm btn-dark">Delete</button>
                </form>
            </div>
            <% } %>
        </div>
        <%}%>
    </div>
        <div class="col-8 offset-1 mb-3">
            <h3>Where you'll be</h3>
            <div class="offset-1" id="map">
            </div>
        </div>
</div>